.aboutLink {
    text-decoration: none;
    color: #9d9d9d !important;
}

.mainText {
    color: #9d9d9d !important;
    font-size: 16px !important;
    font-weight: 500;
}

.navmain {
    background-color: #f7f6f6 !important;
    border-bottom: 1px solid #e0dfdf;
}

.search_for_text {
    font-weight: 400;
    color: #393939;
    font-size: 35px;
    margin-bottom: 18px;
}

.searchbar {
    margin-bottom: 20px;
}

.home_card_header {
    background-color: #ebebebcc;
}

.home_official_name {
    margin-bottom: 0;
}

.home_common_name {
    margin-bottom: 0;
    font-size: 12px;
    color: gray;
}

.view_country_detail_btn {
    float: right;
    float: right;
    min-width: 41px;
    min-height: 35px;
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 4px;
}